<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
<section class="dmroom-header">
  <div class="dmroom-header__title">
    <%= @user.nickname + 'さんとの会話'%>
  </div>
</section>