.notifications{
  .notice{
    margin: 2px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #04C2CC;
    color: #fff;
  }
  .alert{
    margin: 2px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #ffcccc;
    color: #ff3333;
  }
}