.event-side{
  width: 280px;
  float: left;
  margin: 0 40px 0 0;
  &__detail{
    &--images{
      .event-small-images{
        img{
          overflow: hidden;
          max-height: 90px;
          opacity: .4;
          width: 20%;
          cursor: pointer;
        }
      }
    }
    .event-detail-table{
      tr{
        border-bottom: 1px solid #04C2CC;
        td{
          .participants{
            height: 100%;
            width: 100%;
            .photo-participants{
              img{
                height: 38px;
                width: 38px;
                border-radius: 50%;
                overflow: hidden; 
              }
              span{
                font-family: 'Crimson Text', serif;
                font-size: 12px;
              }
            }
            .cooking-participants{
              
            }
          }
          .cooking{
            width:100px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
  .event-side{
  float: none;
}
}