<div class="exhibit-container">
  <%= render partial: 'shared/main_header' %>
</div>
  <div class="exhibit-content">
    <div class="exhibit-top">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>イベントの情報を入力</span>
      <%# ユーザーログイン機能を作成したらform_forを使う %>
      <%# <%= form_for @exhibit do |f| %>
      <%# 仮置きのクラス %>
    <div class="exhibit-image">
      <div class="exhibit-section">
        <div class="exhibit-title">
        
