<div class="exhibit-container">
  <%= render partial: 'shared/common_header' %>
</div>
<div class="payment-container">
  <section class="payment_details">
    <h2 class="payment_details__title">予約内容の確認</h2>
    <form class="payment-form" name="cooking_details">
      <section class="payment_summary">
        <div class="payment_summary__photo">
          <%= image_tag 'mrkr-icon.png' %>
        </div>
        <div class="payment_summary__right">
          <p class="payment_summary__right__event-name">管理栄養士による晩ごはん提供イベント</p>
          <p class="payment_summary__exhibitor"><%= @user.nickname %></p>
        </div>
      </section>
      <div class="">
        <h1>やってみたい料理工程を選択してください（２つまで）</h1>
        <table border="0">
        <tr>
        <td align="left" nowrap><font color="#999999">◆</font>レベル１(500円割引)</td>
        <td align="left"><input type="checkbox" onclick="keisan();limit()">具材買い出しの手伝い</td>
        </tr>
        <tr>
        <td align="left"><font color="#999999">◆</font>レベル２(1000円割引)</td>
        <td><input type="checkbox" onclick="keisan();limit()">キャベツを切って下ゆでする</td>
        </tr>
        <tr>
        <td align="left"><font color="#999999">◆</font>レベル３(1500円割引)</td>
        <td><input type="checkbox" onclick="keisan();limit()">玉ねぎ・人参をみじん切りする</td>
        </tr>
        <tr>
        <td align="left"><font color="#999999">◆</font>レベル４(2000円割引)</td>
        <td><input type="checkbox" onclick="keisan();limit()">豚ひき肉と野菜を混ぜて肉ダネを作る</td>
        </tr>
        <tr>
        <td align="left"><font color="#999999">◆</font>レベル５(2500円割引)</td>
        <td><input type="checkbox" onclick="keisan();limit()">肉ダネをキャベツで巻いて出汁を取ったスープで茹でる</td>
        </tr> 
        <tr>
        <td align="left"><font color="#ff0000">■</font><b><font color="#ff0000">割引金額</font></b></td>
        <td align="left"><input type="text" name="total" value="0"> 円</td>
        </tr>
        </table>
      </div>
    </form>
  </section>
  <div class="event_middle-row clearfix">
    <div class="event_middle-row__title">

    </div>
    <div class="event_middle-row__profit">
    </div>
  </div>
  <div class="event_bottom-row clearfix">
    <div class="event_bottom-row__title">
      イベント予約価格
    </div>
    <div class="event_bottom-row__price">
      4200円
    </div>
  </div>
</div>