<div class="exhibit-container">
  <%= render partial: 'shared/common_header' %>
</div>
<div class="payment-container">
  <section class="payment_details">
    <h2 class="payment_details__title">予約内容の確認</h2>
    <form class="payment-form" name="cooking_details">
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <h3 class="payment_summary-inner__photo">
            <%= image_tag 'mrkr-icon.png' %>
          </h3>
          <div class="payment_summary-inner__right">
            <p class="payment_summary-inner__right__event-name">管理栄養士による晩ごはん提供イベント</p>
            <p class="payment_summary-inner__exhibitor">KA</p>
          </div>
        </div>
      </section>
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <ul>
            <li>
              <i class="fas fa-calendar-alt"></i>
              2月29日(土) 18:30 - 20:30
            </li>
          </ul>
        </div>
      </section>
      <section class="payment_summary">
        <div class="payment_summary-inner">
          <i class="fas fa-map-marker-alt"></i>
          <div class="payment_summary-inner__place">
            <p class="payment_summary-inner__place__train">地下鉄線 明治神宮前駅 徒歩3分</p>
            <p class="payment_summary-inner__place__address">
            〒555-5555
            <br>
            東京都 渋谷区 松本1-12-13 まつビル</p>
          </div>
        </div>
      </section>
      <section class="cooking_summary">
        <div class="cooking_summary-inner">
          <div class= "middle-icon">
            <i class="fas fa-mitten"></i>
            <h1>やってみたい料理工程を選択してください（２つまで）</h1>
          </div>
          <table class="cooking_summary-inner__table" border="0">
            <tr>
            <td>レベル１(500円割引)</td>
            <td><input type="checkbox" onclick="keisan();limit();update_price()">具材買い出しの手伝い</td>
            </tr>
            <tr>
            <td>レベル２(1000円割引)</td>
            <td><input type="checkbox" onclick="keisan();limit();update_price()">キャベツを切って下ゆでする</td>
            </tr>
            <tr>
            <td>レベル３(1500円割引)</td>
            <td><input type="checkbox" onclick="keisan();limit();update_price()">玉ねぎ・人参をみじん切りする</td>
            </tr>
            <tr>
            <td>レベル４(2000円割引)</td>
            <td><input type="checkbox" onclick="keisan();limit();update_price()">豚ひき肉と野菜を混ぜて肉ダネを作る</td>
            </tr>
            <tr>
            <td>レベル５(2500円割引)</td>
            <td><input type="checkbox" onclick="keisan();limit();update_price()">肉ダネをキャベツで巻き出汁を取ったスープで茹でる</td>
            </tr> 
            <tr>
            <td>価格</td>
            <td>￥<input id="price" type="text" size="40" value=7000></td>
            </tr>
            <td><font color="#ff0000">■</font><b><font color="#ff0000">割引金額</font></b></td>
            <td>￥<input id="discount" type="text" name="total" value="0" ></td>
            </tr>
          </table>
        </div>
      </section>
    </form>
  </section>
  <section class="event_reservation payment_fixed-footer">
    <div class="event_reservation-inner">
      <div class="event_reservation-inner__price">
        イベント予約価格 ￥<span id="total"> </span>
      </div>
    <div class="event-reservation-btn">
      <%# 本来は予約確定画面に遷移だが、一時的にイベント参加者チャット画面に遷移 %>
      <%= link_to event_messages_path(current_user.id), class:"btn-default btn-green" do%>
        予約を確定する
      <% end %>
    </div>
    </div>
  </div>
</section>  