<div class="event-container">
    <%= render partial: 'shared/main_header' %>
</div>

<section class="event-box-container">
  <h1 class="event-name">管理栄養士による晩ごはん提供イベント</h1>
    <p class="event-name__description">
      <%# 仮の説明書き（のちにサーバーサイドで編集） %>
      前半で一緒に季節のお野菜やお魚を使い、料理工程の一部を体験しながら、晩ごはんを作ります。
      前半で作った料理を後半でご提供です。お楽しみに！
    </p>
  <div class="event-name__detail">
    <div class="event-name__detail--image">
      <div class="information-event_first-image">
        <%= image_tag 'cookingimage1.png',style: "width: 300px; height: 250px;" %>
        <%# ここに複数のイベント写真を載せる予定 %>
        <div class="event-images">
          <%= image_tag 'cookingimage2.png' %>
        </div>
      </div>
      <div class="information-event_content-image2">
      </div>
    </div>
    <div class="event_content__detail--price">
      <div class="event_upper-row clearfix">
        <div class="event_upper-row__title ">
          <label for="" class="">イベント価格</label>
        </div>  
        <div class="event_upper-row__title--value">
          ¥
          <span id="price-setting">5000</span>
          <%# @event.price %>
        </div>
      </div>
    </div>
    <div class="event_content__detail--price">
  </div>
</section>