<div class="event-container">
    <%= render partial: 'shared/main_header' %>
</div>

<section class="event-box-container">
  <h1 class="event-name">管理栄養士による晩ごはん提供イベント</h1>
    <p class="event-name__description">
      <%# 仮の説明書き（のちにサーバーサイドで編集） %>
      前半で一緒に季節のお野菜やお魚を使い、料理工程の一部を体験しながら、晩ごはんを作ります。
      前半で作った料理を後半でご提供です。お楽しみに！
    </p>
    <div class="event-name__detail">
      <div class="event-name__detail--image">
        <div class="information-event_first-image">
          <%= image_tag 'cookingimage1.png',style: "width: 300px; height: 250px;" %>
          <%# ここに複数のイベント写真を載せる予定 %>
          <div class="event-images">
            <%= image_tag 'cookingimage2.png' %>
          </div>
        </div>
        <div class="information-event_content-image2">
        </div>
      </div>
      <div class="event_cooking__steps--form">
      </div>
      <div class="event_cooking__details-inner">
        <h2>やってみたい料理工程を選択してください（２つまで）</h2>
          １つ目の選択（割引料金）
         
          <br>
          <%# <select id="waribiki">
            <option>未選択</option>
            <option>レベル1</option>
            <option>レベル2</option>
            <option>レベル3</option>
            <option>レベル4</option>
          </select> %>
          <select id="waribiki">
            <option value="0">未選択</option>
            <option value="300">レベル１</option>
            <option value="500">レベル２</option>
            <option value="700">レベル３</option>
            <option value="1000">レベル４</option>
          </select>
          <input type="button" value="計算" onclick="cooking_waribiki(this, 'waribiki')" />
          <br>
          <br>
          ２つ目の選択（割引料金）

          <br>
          <%# <select id="waribiki2">
            <option>未選択</option>
            <option>レベル1</option>
            <option>レベル2</option>
            <option>レベル3</option>
            <option>レベル4</option>
          </select> %>
          <select id="waribiki2">
            <option value="0">未選択</option>
            <option value="300">レベル１</option>
            <option value="500">レベル２</option>
            <option value="700">レベル３</option>
            <option value="1000">レベル４</option>
          </select>
          <input type="button" value="計算" onclick="cooking_waribiki(this, 'waribiki2')" />
          <br>
          <label for="level1" class="cooking__level1">レベル1</label>
          <span>玉ねぎ・人参をみじん切りする</span>
          <br>
          <label for="level2" class="cooking__level2">レベル2</label>
          <span>キャベツを切って下ゆでする</span>
          <br>
          <label for="level3" class="cooking__level3">レベル3</label>
          <span>豚ひき肉と野菜を混ぜて肉ダネを作る</span>
          <br>
          <label for="level4" class="cooking__level4">レベル4</label>
          <span>肉ダネをキャベツで巻いて出汁を取ったスープで茹でる</span>
          <br>
      </div>
      <div class="event_content__detail--price">
        <div class="event_upper-row clearfix">
          <div class="event_upper-row__title ">
            <label for="" class="">イベント価格</label>
          </div>  
          <div class="event_upper-row__title--value">
            ¥
            <span id="price-setting">5000</span>
            <%# @event.price %>
          </div>
        </div>
        <div class="event_middle-row clearfix">
          <div class="event_middle-row__title">
            割引合計
          </div>
          <div class="event_middle-row__profit">
            <%# javascriptが途中のため、後で修正予定 %>
            <div>１つ目　<span id="cooking_waribiki">300</span>円</div>
            <div>２つ目　<span id="cooking_waribiki2">500</span>円</div>
            <div>合計　<span id="result"></span>円</div>
            <%# <span id="cooking_waribiki"></span> +
            <span id="cooking_waribiki2"></span>
            = <output name ="result"> %>
          </div>
        </div>
        <div class="event_bottom-row clearfix">
          <div class="event_bottom-row__title">
            予約価格
          </div>
          <div class="event_bottom-row__price">
            4200円
          </div>
        </div>
      </div>
    </div>
</section>